.thumbs-wrapper.axis-vertical{
    display: none;
}

.carousel-status{
    display: none;
}

.carousel .control-dots .dot{
    opacity: none;
}

.carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover{
    background-color: #E4B56B;
    opacity: 1;
    outline: none;
}